<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Minhas consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Exibir histórico</ion-label>
      <ion-checkbox color="dark" slot="end" (ionChange)="executarBusca($event)"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let pedido of pedidos | async" [routerLink]="['/pedido/produtos', pedido.key]">
      <ion-label>
        <h1>Sessão {{ pedido.numero }}</h1>

        <div margin-vertical>
          <div><b>Valor à pagar: <br> </b>
            <app-valor [valor]="pedido.total"></app-valor>
          </div>

          <div>
            <b>Data da solicitação: <br></b> {{ pedido.data }}
          </div>

          <div>
            <b>Status: <br> {{ getStatusNome(pedido.status) }}</b>
          </div>

          <div>
            <b>Data</b> {{ pedido.data }}
          

         
            <b>Hora</b> {{ pedido.hora }}
          </div>





        </div>


      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>