<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Minhas consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Exibir histórico</ion-label>
      <ion-checkbox color="dark" slot="end" (ionChange)="executarBusca($event)"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let pedido of pedidos | async" [routerLink]="['/pedido/produtos', pedido.key]">
      <ion-label>
        <div>
          <h1>Serviço: {{ pedido.produtoNome }}</h1>
        </div>

        <div margin-vertical>
          <div>
            <b>Observação: {{ pedido.observacao }}</b>
          </div>
          <br>

          
            <div>
              <b>Telefone para contato: {{ pedido.telefone }}</b>
            </div>
            <br>
          
          <div>
            <b>Data agendada: {{ pedido.data }}</b>
          </div>
          <br>

          <div>
            <b>Hora agendada: {{ pedido.hora }}</b>
          </div>
          <br>

          <div><b>Valor: </b>
            <app-valor [valor]="pedido.total"></app-valor>
          </div>
          <br>

          <div>
            <b>Status: <br> {{ getStatusNome(pedido.status) }}</b>
          </div>
          <br>




        </div>


      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>