<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
      <!-- <ion-card-header> -->
        <!-- <ion-card-subtitle>Faça Acunputura e viva sem dores!</ion-card-subtitle> -->
        <!-- <ion-card-title>Olá, eu sou Marcelo! <br> Estou aqui para te ajudar</ion-card-title>
      </ion-card-header> -->
    
      <ion-card-content>
       <h1>Você conhece os benefícios da Medicina Tradicional Chinesa? </h1> 
      </ion-card-content>
 
    
<ion-card>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Redução do estresse</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Redução de peso</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Alívio das dores </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Ajuda com Depressão e Ansiedade </ion-label>
      </ion-item>
  
    </ion-card>
  </ion-list>


    <ion-card-content>
      <h2>Agende sua consulta pelo nosso Aplicativo!</h2>
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label> Rua João Guimarães Bahia 480<br>
                    Celular (19) 9 9451-8490
        </ion-label>
    </ion-item>

</ion-content>

